- name: Deploy on EC2 using Docker Compose
  uses: appleboy/ssh-action@v1.0.3
  with:
    host: ${{ secrets.SERVER_HOST }}
    username: ubuntu
    key: ${{ secrets.SERVER_SSH_KEY }}
    port: 22
    timeout: 30s
    command_timeout: 10m
    script: |
      set -e
      whoami
      pwd

      cd /home/ubuntu/Devops-first-project
      ls -la

      docker --version
      docker compose version

      docker compose pull
      docker compose down
      docker compose up -d
