name: CI/CD Docker Compose Deployment-1

on:
  push:
    branches:
      - main

jobs:
  build:
    name: CI – Validate Configs
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Validate docker-compose.yml
        run: |
          docker compose config

      - name: Validate nginx.conf
        run: |
          docker run --rm \
            -v "$PWD/nginx.conf:/etc/nginx/nginx.conf:ro" \
            nginx:alpine nginx -t

  deploy:
    name: CD – Deploy to EC2
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy on EC2 using Docker Compose
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ubuntu
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          timeout: 30s
          command_timeout: 10m
          script: |
            set -e

            echo "Connected user:"
            whoami

            echo "Going to project directory"
            cd /home/ubuntu/Devops-first-project

            echo "Files in directory:"
            ls -la

            echo "Docker versions:"
            docker --version
            docker compose version

            echo "Deploying application"
            docker compose pull
            docker compose down
            docker compose up -d

            echo "Deployment completed successfully"
